<div class="panel panel-default">
<div class="panel-heading">
                            Technology used
</div>





<div class="panel-body">




<ul>
  <li >   Front end is done in angularjs. </li> 
  <li >   Front end uses ui-route, angular-chart.js, bootstrap  </li> 
  <li >   Backend is done with nodejs, mongodb </li> 
  <H3>Steps </H3>
  <li >   The data in xls sheet is uploaded into mongodb using mongoimport </li>
  <li >   Using mongo queries, the required data is fetched </li>
  <li >   Then it is displayed in angularjs using charts library </li>
  <H3> Contact </H3>
  <li >   Ramesh (raga2560@yahoo.com) </li>
  <li >   Twitter id @raga2560 </li>
  
  
 
  
  
  
  
</ul>
</div>
</div>


