<div class="panel panel-default">
<div class="panel-heading">
                            Order visualization
</div>





<div class="panel-body">




<ul>
  <li >   <a href="#/Visualapp/salesbycustomersegment">Sales by customer segment (visual included)</a> </li> 
  <li >   <a href="#/Visualapp/salesprodbymonth">Sales of product by month (visual included)</a> </li> 
  
  <li >   <a href="#/Visualapp/salesbycustomername">Sales by customer name </a> </li>
  <li >   <a href="#/Visualapp/salesbyorder">Sales by order  </a> </li>
  <li >   <a href="#/Visualapp/salesbyproductcategory">Sales by product category (visual included) </a> </li>
  
  
 
  
  
  
  
</ul>
</div>
</div>

<div ui-view="view22"></div> 
